//Nunito

$font-black: "Nunito Black";
$font-blackitalic: "Nunito BlackItalic";
$font-bold: "Nunito Bold";
$font-bolditalic: "Nunito BoldItalic";
$font-extrabold: "Nunito ExtraBold";
$font-extrabolditalic: "Nunito ExtraBoldItalic";

$font-extralight: "Nunito ExtraLight";
$font-extralightitalic: "Nunito ExtraLightItalic";
$font-italic: "Nunito Italic";
$font-light: "Nunito Light";
$font-lightitalic: "Nunito LightItalic";
$font-regular: "Nunito Regular";

$font-semibold: "Nunito SemiBold";
$font-semibolditalic: "Nunito SemiBoldItalic";
